{% extends "offers/base_generic.html" %}
{% load i18n %}
{% block content %}
  <section>
    <h2 class="text-2xl font-bold text-gray-900">{% translate "Countries" %}</h2>
    <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
      {% for country in country_list %}
        <li class="text-center transform transition duration-500 ease-in-out hover:scale-105">
          <a href="{% url 'offers:country-detail' pk=country.id %}">
            <img alt="{{ country.name }}"
                 class="mx-auto w-24 h-24 object-cover rounded-full mb-2"
                 height="100"
                 src="{{ country.image }}"
                 style="aspect-ratio: 100 / 100;
                        object-fit: cover"
                 width="100" />
            <p class="text-gray-700">{{ country.name }}</p>
          </a>
        </li>
      {% empty %}
        <p class="text-gray-700">{% translate "No countries available" %}</p>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
