{% extends "offers/base_generic.html" %}
{% load static %}
{% block content %}
  <!-- Carousel Start -->
  <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100"
               src="{% static 'offers/img/carousel-1.jpg' %}"
               alt="Image" />
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px">
              <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
              <h1 class="display-3 text-white mb-md-4">Let's Discover The World Together</h1>
              <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Book Now</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="w-100"
               src="{% static 'offers/img/carousel-2.jpg' %}"
               alt="Image" />
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px">
              <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
              <h1 class="display-3 text-white mb-md-4">Discover Amazing Places With Us</h1>
              <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev"
         href="#header-carousel"
         data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px">
          <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
      </a>
      <a class="carousel-control-next"
         href="#header-carousel"
         data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px">
          <span class="carousel-control-next-icon mb-n2"></span>
        </div>
      </a>
    </div>
  </div>
  <!-- Carousel End -->
  <!-- Packages Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">Offers</h6>
        <h1>Best Offers</h1>
      </div>
      <div class="row">
        {% for offer in featured_offer_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
              <img class="img-fluid"
                   src="{% static 'offer/img/{{ offer.image }}' %}"
                   alt="" />
              <div class="p-4">
                <div class="d-flex justify-content-between mb-3">
                  <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>{{
                  offer.country.name }}</small>
                  <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>{{
                  offer.days }} days</small>
                  <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>{{
                  offer.participants }} Person</small>
                </div>
                <a class="h5 text-decoration-none" href="">{{ offer.name }}</a>
                <div class="border-top mt-4 pt-4">
                  <div class="d-flex justify-content-between">
                    <h6 class="m-0">
                      <i class="fa fa-star text-primary mr-2"></i>{{ offer.score }}
                      <small>({{ off.valuatios }})</small>
                    </h6>
                    <h5 class="m-0">${{ offer.price }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Packages End -->
  <!-- Country Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">Country</h6>
        <h1>Explore Top Countries</h1>
      </div>
      <div class="row">
        {% for country in country_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="destination-item position-relative overflow-hidden mb-2">
              <img class="img-fluid"
                   src="{% static 'offer/img/{{ country.image }}' %}"
                   alt="" />
              <a class="destination-overlay text-white text-decoration-none" href="">
                <h5 class="text-white">{{ country.name }}</h5>
                <span>{{ country.offer_set.count }} Offers</span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Country End -->
  <!-- Category Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-3 pb-3">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">Category</h6>
        <h1>Explore Top Categories</h1>
      </div>
      <div class="row">
        {% for category in category_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="destination-item position-relative overflow-hidden mb-2">
              <img class="img-fluid"
                   src="{% static 'offer/img/{{ category.image }}' %}"
                   alt="" />
              <a class="destination-overlay text-white text-decoration-none" href="">
                <h5 class="text-white">{{ category.name }}</h5>
                <span>{{ category.offer_set.count }} Offers</span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Category End -->
{% endblock %}
