{% extends "offers/base_generic.html" %}
{% block content %}
  <section>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      <div class="bg-white dark:bg-gray-700 rounded-md shadow-md p-4 transform transition duration-500 ease-in-out hover:scale-105">
        <img alt="{{ offer.name }}"
             class="w-full h-48 object-cover mb-2 rounded-md"
             height="200"
             src="{{ offer.image }}"
             style="aspect-ratio: 200 / 200;
                    object-fit: cover"
             width="200" />
        <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">{{ offer.name }}</h3>
        <p class="text-gray-700 dark:text-gray-300">{{ offer.description }}</p>
        <p class="text-gray-700 dark:text-gray-300 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="w-4 h-4 mr-2"
               style="--darkreader-inline-stroke: currentColor"
               data-darkreader-inline-stroke="">
            <line x1="12" x2="12" y1="2" y2="22"></line>
            <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
          </svg>
          Price: {{ offer.price }}€
        </p>
        <p class="text-gray-700 dark:text-gray-300 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="w-4 h-4 mr-2"
               style="--darkreader-inline-stroke: currentColor"
               data-darkreader-inline-stroke="">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
          </svg>
          Duration: {{ offer.days }} days
        </p>
        {% comment %} TODO {% endcomment %}
      </div>
    </div>
  </section>
{% endblock content %}
